<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="lookup_branch" value="spGetBranch"/>
		<add key="lookup_ent_dealer" value="EntGetDealer"/>
	</appSettings>
	<configSections>
		<section name="GetStoredProcedure" type="SQLServer.StoredProcedure"/>
	   </configSections>
	<GetStoredProcedure>
		<StoredProcedure SpName="EntGetDealer" TextField="NamaDealer" ValueField="KodeDealer"/>
	</GetStoredProcedure>
</configuration>